@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Cormorant+Garamond:wght@300&family=Handjet:wght@500&family=Mouse+Memoirs&family=Mukta:wght@300&family=Noto+Sans:wght@500&family=Nova+Square&family=Poppins&family=Roboto+Condensed:wght@300&family=Roboto+Mono&family=Roboto+Serif:opsz,wght@8..144,100&family=Rubik+Iso&family=Rubik:ital,wght@0,400;0,700;1,500&family=Ubuntu:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Ubuntu&display=swap";
*, :before, :after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  color: inherit;
  border-top-width: 1px;
  height: 0;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, :before, :after, ::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  color: gray;
  padding: 12px 0;
  font-family: Ubuntu, sans-serif;
  box-shadow: 1.95px 1.95px 2.6px #00000026;
}

.flex {
  justify-content: space-between;
  align-items: center;
  margin: 10px 32px;
  display: flex;
}

.inputs {
  margin: 50px 165px;
}

ul li {
  margin-right: 10px;
}

.body input {
  border: 1px solid;
  margin-left: 10px;
}

.body button {
  color: #fff;
  background-color: #000;
  border-radius: 4px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

.body input {
  border: 1px solid gray;
  width: 20vw;
  padding: 3px 4px;
}

.inp {
  width: 300px;
}

.body input:focus {
  outline: none;
}

.flex button {
  color: #fff;
  background-color: #000;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 12px;
}

.objects {
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px 65px;
  display: flex;
}

.cards {
  margin-top: 26px;
  margin-right: 20px;
  font-family: Ubuntu, sans-serif;
}

.cardComponent img {
  border-radius: 7px;
  width: 200px;
}

.scards {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.scard {
  background-color: #f0f0f0;
  width: 200px;
  height: 300px;
  margin: 10px;
}

.label {
  color: #fff;
  background-color: #d2691e;
  padding: 5px;
  font-size: 10px;
  position: absolute;
}

.contentBar {
  align-items: center;
  margin: -10px 65px 50px;
  display: flex;
}

.inp {
  background-color: #f0f0f0;
  width: 200px;
  height: 25px;
  margin-right: 10px;
}

.search {
  background-color: #f0f0f0;
  width: 40px;
  height: 28px;
}

.resItemsCont {
  margin: 0 300px;
}

.titles {
  color: #434343;
  cursor: pointer;
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: bold;
}

.upperCont {
  color: gray;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 12px;
  display: flex;
}

.headingUpperCont {
  color: #000;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.itemsHeading {
  cursor: pointer;
  justify-content: space-between;
  display: flex;
}

.cardComponent img {
  object-fit: cover;
  height: 144px;
}

.topImg {
  display: flex;
  overflow-x: hidden;
}

.topCont {
  margin: 42px 161px;
}

.topCont h1 {
  font-size: 22px;
  font-weight: bold;
}

.topImg img {
  width: 11vw;
  max-width: none;
  margin-right: 15px;
}

.cardComponent {
  font-family: Arial, Helvetica, sans-serif;
}

.topBarItems {
  color: #393939;
  margin: 50px;
}

.topBarItems h1 {
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  font-size: 38px;
  font-weight: bolder;
}

.listsMainCont h1 {
  color: #000;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.headingList {
  display: flex;
}

.lists {
  color: #707070;
  margin-bottom: 30px;
  margin-right: 25px;
  font-size: 14px;
  line-height: normal;
}

.lists img {
  object-fit: cover;
  border-radius: 10px;
  width: 250px;
  height: 149px;
  margin-bottom: -22px;
}

.cuisinesList {
  width: 200px;
}

.listGroup {
  flex-wrap: wrap;
  margin: 22px 0;
  display: flex;
}

.lists h1 {
  color: #454545;
  font-family: Ubuntu, sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.spanList {
  align-items: center;
  display: flex;
}

.icon {
  margin-right: 3px;
}

.topBar {
  margin: 100px 150px;
  display: flex;
}

.topItems {
  background-color: #f0f0f0;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin: 10px 12px;
}

.mainShimmerCont {
  margin: 120px;
}

.contentTime {
  color: #1d1d1dc3;
  border-top: 1px dotted #8f8e8e;
  margin-bottom: 15px;
  padding-top: 15px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}

.timeDiv {
  margin-right: 30px;
  display: flex;
}

.offerDiv {
  color: gray;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: flex;
}

.meta {
  border: 1px solid #c6c5c5;
  border-radius: 10px;
  margin-bottom: 16px;
  margin-right: 7px;
  padding: 10px;
}

.metaCont {
  display: flex;
}

.metaCont img, .timeDiv img {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.itemsCont {
  padding-top: 12px;
}

.downArrow {
  width: 20px;
  height: 20px;
}

.homePath {
  color: gray;
  margin-top: 25px;
  font-size: 9px;
}

.contentItems {
  font-family: sans-serif;
}

.nameItems {
  color: #5a5a5a;
  font-weight: bold;
}

.priceItems {
  color: #5a5a5a;
  font-size: 13px;
}

.descItems {
  color: #979797;
  padding-bottom: 20px;
  font-size: 13px;
  font-weight: lighter;
}

.menuItems {
  justify-content: space-between;
  margin-bottom: 30px;
  display: flex;
}

.itemImgBtn {
  margin-left: 70px;
}

.menuItems img {
  object-fit: cover;
  border-radius: 10px;
  width: 130px;
  height: 100px;
  position: absolute;
}

.menuBtn {
  color: #04a804;
  z-index: 10;
  background-color: #fff;
  border: 1px solid;
  border-radius: 4px;
  padding: 5px 24px;
  font-size: 11px;
  font-weight: bold;
  position: relative;
  top: 80%;
  left: 35%;
}

.cartItemsCont {
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 40px auto auto;
  padding: 33px 20px 20px;
  display: flex;
  box-shadow: 0 2px 8px #63636333;
}

.cartNameItem {
  padding-top: 14px;
}

.totalAmountDiv {
  color: #03ac03;
  background-color: #fff;
  border: 1px solid green;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}

.cardName {
  color: #3c3838;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.cardPrice {
  color: #3c3838;
  font-size: 14px;
  font-weight: bold;
}

.avgRating {
  color: #3c3838;
  align-items: center;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  display: flex;
}

.onlineList {
  align-items: center;
  display: flex;
}

.onlineList img {
  width: 30px;
  margin: 0 5px;
}

.loginBtn {
  color: #fff;
  background-color: #000;
  border-radius: 4px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

.loginBar {
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 50px auto auto;
  display: flex;
  box-shadow: 1.95px 1.95px 2.6px #00000026;
}

.inputFields input {
  border: 1px solid gray;
  width: 23vw;
  margin-bottom: 20px;
  padding: 5px;
}

.inputFields input:focus {
  outline: none;
}

.logBtn button {
  color: #fff;
  background-color: #f24709;
  border: 1px solid #ff4500;
  border-radius: 6px;
  padding: 5px 30px;
}

.toggleSign {
  cursor: pointer;
}

.text-red {
  color: red;
}

.userLog {
  align-items: center;
  display: flex;
}

.userLog p {
  margin-right: 12px;
}

.userData {
  align-items: center;
  margin-left: 30px;
  display: flex;
}

.userData img {
  width: 25px;
  margin-right: 10px;
}

.userData p {
  font-weight: bold;
}

.text-black {
  color: #000;
  font-weight: bold;
}

.userDiv {
  align-items: center;
  display: flex;
}

.inputFields {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.toggleSign {
  color: gray;
  margin: 12px 0;
  font-size: 14px;
}

.logHeading {
  text-align: center;
  color: #fff;
  background-color: #f24709;
  width: -webkit-fill-available;
  margin-bottom: 52px;
  padding: 10px;
  font-size: 32px;
}

.logo {
  width: 50px;
}

.menuList {
  display: flex;
}

.hamBurger {
  display: none;
}

@media only screen and (width <= 390px) {
  .logo {
    width: 28px;
  }

  .onlineList {
    font-size: 12px;
  }

  .logHeading {
    font-size: 22px;
  }

  .logBtn {
    font-size: 18px;
  }

  .userDiv {
    background-color: #fb7443;
    align-items: center;
    padding: 11px;
    font-size: 13px;
    position: absolute;
    top: 12%;
    right: 3%;
  }

  .userDiv li {
    color: #fff;
    font-weight: normal;
  }

  .userData {
    color: #fff;
    margin-left: 0;
  }

  .userData img {
    width: 20px;
    margin-right: 3px;
  }

  .flex button {
    background-color: #0000;
    border: 1px solid;
    padding: 3px 4px;
    font-size: 7px;
  }

  .menuList {
    align-items: center;
  }

  .hamBurger {
    display: block;
  }

  .loginBar {
    width: 55%;
  }

  .inputFields input {
    width: auto;
  }

  .topCont {
    margin: 42px 29px;
  }

  .topCont h1 {
    font-size: 14px;
  }

  .inputs {
    margin: 28px 33px;
  }

  .body input {
    width: 38vw;
    font-size: 9px;
  }
}

/*# sourceMappingURL=index.3a01df49.css.map */
